<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static './home.css' %}"> {% endcomment %}
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Canil</h1>
    <h2>Available Animals for Adoption</h2>
    <table id="main__table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Breed</th>
            </tr>
        <thead>
        <tbody>
            {% for animal, animal_type_display in animal_data %}
                <tr class="line">
                    <td>{{ animal.name }}</td>
                    <td>{{ animal_type_display }}</td>
                    <td>{{ animal.greed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>